<main class="container my-5">
  <h1>編輯項目：「{{recordResult.name}}」</h1>
  <form action="/expense/{{recordResult._id}}?_method=PUT" method="POST" autocomplete="off">
    <div class="mb-3">
      <label for="name" class="form-label">項目名稱：</label>
      <input type="text" class="form-control" id="name" name="name" value="{{recordResult.name}}">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">類別：</label>
      <select class="form-select" name="category">
        {{#forEach categoryResult}}
        {{#is name ../recordResult.category}}
        <option value="{{name}}" selected>{{name}}</option>
        {{else}}
        <option value="{{name}}">{{name}}</option>
        {{/is}}
        {{/forEach}}
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">日期：</label>
      <input type="date" class="form-control" id="date" name="date" value="{{recordResult.date}}" required>
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">金額：</label>
      <input type="number" class="form-control" id="amount" name="amount" value="{{recordResult.amount}}">
    </div>
    <button type="submit" class="btn btn-primary">修改</button>
  </form>
</main>