<main class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <form action="/expense/{{record._id}}?_method=PUT" method="POST" autocomplete="off">
        <h1>編輯項目：「{{record.name}}」</h1>
        <div class="mb-3">
          <label for="name" class="form-label">項目名稱：</label>
          <input type="text" class="form-control" id="name" name="name" value="{{record.name}}">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">類別：</label>
          <select class="form-select" name="category">
            {{#forEach categories}}
            {{#is name ../record.category}}
            <option value="{{name}}" selected>{{name}}</option>
            {{else}}
            <option value="{{name}}">{{name}}</option>
            {{/is}}
            {{/forEach}}
          </select>
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">日期：</label>
          <input type="date" class="form-control" id="date" name="date" value="{{record.date}}" required>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">金額：</label>
          <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}">
        </div>
        <div class="mb-3">
          <label for="merchant" class="form-label">商家：</label>
          <input type="text" class="form-control" id="merchant" name="merchant" value="{{record.merchant}}">
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
      </form>
    </div>
  </div>
</main>